//Open Sans

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-LightItalic.eot");
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"),
    url("../fonts/OpenSans/OpenSans-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/OpenSans/OpenSans-LightItalic.woff") format("woff"),
    url("../fonts/OpenSans/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-Light.eot");
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("../fonts/OpenSans/OpenSans-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/OpenSans/OpenSans-Light.woff") format("woff"),
    url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-Italic.eot");
  src: local("Open Sans Italic"), local("OpenSans-Italic"),
    url("../fonts/OpenSans/OpenSans-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/OpenSans/OpenSans-Italic.woff") format("woff"),
    url("../fonts/OpenSans/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("../fonts/OpenSans/OpenSans-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/OpenSans/OpenSans-SemiBold.woff") format("woff"),
    url("../fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Poppins

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.eot");
  src: local("Poppins Medium"), local("Poppins-Medium"),
    url("../fonts/Poppins/Poppins-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Poppins/Poppins-Medium.woff") format("woff"),
    url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBoldItalic.eot");
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"),
    url("../fonts/Poppins/Poppins-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Poppins/Poppins-SemiBoldItalic.woff") format("woff"),
    url("../fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold.eot");
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
    url("../fonts/Poppins/Poppins-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Poppins/Poppins-SemiBold.woff") format("woff"),
    url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
