@import "_var.scss";

// Reset styles

button:focus {
  outline: 0;
}

// GLobal styles

.m-btn-primary {
  background: $yellow-dark !important;
  border-radius: 6px !important;
  @extend %poppins-600;
  height: 40px !important;
  padding: 0px 38px !important;
  transition: all 0.5s !important;
  border: none !important;

  &:hover,
  &:active {
    background-color: rgba(244, 220, 0, 1) !important;
  }
}
.m-btn-primary.el-button.is-disabled {
  background-color: #e4e4e4 !important;
}
.m-btn-secondary {
  border: 1px solid $green-dark;
  color: $green-dark;
  border-radius: 10px;
  @extend %poppins-600;
  height: 40px;
  padding: 0px 38px;
  transition: all 0.5s;
}
.m-btn-secondary:hover {
  background-color: #def9f1;
}

.section-btn {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 25px;
    @extend %bg-i;
  }

  &::before {
    background-image: url("../img/home/left-btn-arrow.svg");
    left: -114px;
    animation: left-arr 2s ease-in infinite;
  }

  &::after {
    background-image: url("../img/home/right-btn-arrow.svg");
    right: -114px;
    animation: right-arr 2s ease-in infinite;
  }
}

@keyframes left-arr {
  0%,
  100% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(20px);
  }
}

@keyframes right-arr {
  0%,
  100% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-20px);
  }
}

.section-title {
  @extend %poppins-600;
  font-size: 22px;
  text-align: center;
  color: $green-dark;
}

.section-subtitle {
  @extend %open-300;
  font-size: 14px;
  letter-spacing: -0.149625px;
  color: $dark;
}

.page-title {
  @extend %poppins-600;
  font-size: 32px;
  letter-spacing: -0.762769px;
  color: $green-dark;
  margin-bottom: 21px;
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/patterns/zig2-pattern.svg");
    @extend %bg-i;
    right: 0;
    top: -18px;
    width: 135px;
    height: 122px;
  }
}

.el-breadcrumb__inner.is-link {
  @extend %open-300;
  font-weight: 300 !important;
  font-size: 16px;
  letter-spacing: -0.149625px;
  color: #505857;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover,
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  @extend %open-600;
  font-size: 16px;
  letter-spacing: -0.149625px;
  color: $green-dark !important;
}

.el-dialog__close {
  color: transparent !important;
  background-image: url("../img/icons/close-icon.svg");
  width: 24px;
  height: 24px;
}

//Tabs

.el-tabs__item.is-active {
  color: $green-dark !important;
}

.el-tabs__active-bar {
  background-color: $green-dark !important;
}

.el-tabs__item:hover {
  color: $green-dark !important;
}

.el-tabs__item {
  @extend %poppins-600;
  @extend %letter-space-1;
  font-size: 16px;
  color: #b7c2bf !important;
}

p,
h1,
h2,
h3,
h4,
h5,
span,
small,
li,
a,
button {
  @extend %letter-space-1;
}
